<app-background></app-background>
<div class="foot-cont">
  <div class="footer contacto-foot">
    <div class="f-item">
      <h3>¿Dónde encontrarnos?</h3>

      <div class="ubicacion">
        <div class="ubi-item">
          <h4>Tandil</h4>
          <h4>Buenos Aires</h4>
          <h4>Argentina</h4>
          <h4>Vicente Lopez 1153</h4>
          <h4>Entre Magallanes y Maritorena</h4>
          <h4>Villa Italia</h4>
        </div>
      </div>
    </div>

    <div class="f-item nosotros">
      <h3>Nosotros</h3>
      <h4>
        Somos una familia emprendedora que busca ofrecerte un espacio cálido y
        confortante para que tu estadía en Tandil sea inolvidable. Queremos
        acompañarte para que puedas conocer mejor esta hermosa ciudad y
        disfrutar al máximo de la experiencia de visitarnos. ¡Vení a conocernos!
      </h4>
    </div>

    <div class="f-item contacto">
      <div class="item-cont"><h3>Contacto</h3></div>
      <div class="item-cont">
        <img
          src="assets/img/img-redes-sociales/recu-facebook.png"
          width="30px"
          alt="icono-facebook"
        />
        <h4>
          <a
            class="facebook"
            href="https://www.facebook.com/lodevicente.eventos.alojamiento.tandil"
            >Facebook.com/tandil.lodevicente</a
          >
        </h4>
      </div>
      <div class="item-cont">
        <img
          src="assets/img/img-redes-sociales/recu-instagram.png"
          width="30px"
          alt="icono-instagram"
        />
        <h4>
          <a
            class="facebook"
            href="https://www.instagram.com/tandil.lodevicente"
            >Instagram.com/tandil.lodevicente</a
          >
        </h4>
      </div>
      <div class="item-cont">
        <img
          src="assets/img/img-redes-sociales/recu-mail.png"
          width="30px"
          alt="icono-mail"
        />
        <h4 class="facebook">tandil.lodevicente@gmail.com</h4>
      </div>
      <div class="item-cont">
        <img
          src="assets/img/img-redes-sociales/recu-whatsapp.png"
          width="30px"
          alt="icono-whatsapp"
        />
        <h4>
          <a
            class="whatsapp"
            href="https://wa.me/542494632892?text=Hola! Quisiera consultar por precios y disponibilidad. Muchas Gracias!"
            >Escribime en Whatsapp</a
          >
        </h4>
      </div>
    </div>
  </div>

  <div class="contact-map">
    <iframe
      class="map contact-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.656666116222!2d-59.15255664897058!3d-37.30327017974904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959121995259b891%3A0x22cfda9a02ae72c2!2sLo%20de%20Vicente%20-%20Hospedaje%20Estad%C3%ADas%20y%20Eventos!5e0!3m2!1ses!2sar!4v1624190984200!5m2!1ses!2sar"
      width="400"
      height="300"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
