<nav class="nav-bar" id="nav-bar">
  <div class="nav-item"><a routerLink="" class="nav-link">Inicio</a></div>
  <div class="nav-item-division">|</div>
  <div class="nav-item">
    <a routerLink="estadias" class="nav-link">Estadías</a>
  </div>
  <div class="nav-item-division">|</div>
  <div class="nav-item">
    <a routerLink="eventos" class="nav-link">Eventos</a>
  </div>
  <div class="nav-item-division">|</div>
  <div class="nav-item">
    <a routerLink="contacto" class="nav-link">Contacto</a>
  </div>
</nav>
