<div class="redes">
  <div class="redes-item">
    <a
      href="https://www.facebook.com/lodevicente.eventos.alojamiento.tandil"
      class="redes-link"
      ><img
        src="assets/img/img-redes-sociales/facebook-logo-14.png"
        alt="logo-facebook"
      />
    </a>
  </div>
  <div class="redes-item">
    <a href="https://www.instagram.com/tandil.lodevicente" class="redes-link"
      ><img
        src="assets/img/img-redes-sociales/instagram-logo-16.png"
        alt="logo-instagram"
    /></a>
  </div>
  <div class="redes-item">
    <a href="https://wa.me/542494632892?text=" class="redes-link"
      ><img
        src="assets/img/img-redes-sociales/whatsapp-logo-4-1.png"
        alt="logo-whatsapp"
      />
    </a>
  </div>
</div>
