<div  class="botones">
    <a mat-raised-button style="padding: 4px; 
      margin-right: 16px;
      border-radius: 4px; 
      font-weight: bold; color: #303030; padding: 8px;" 
      href="tel:+542494632892" color="primary" 
    >
      <span style="display: flex; align-items: center; justify-content: center; color: white;">
        <mat-icon style="margin-right: 8px;" aria-hidden="false" aria-label="phone_in_talk"
          >phone_in_talk</mat-icon
        >
        Llamanos!
      </span>
    </a>
    
    <a mat-raised-button style="background-color: #a5e0ae; padding: 4px; border-radius: 4px; 
      font-weight: bold; color: #303030; padding: 8px;" 
      href="https://wa.me/542494632892?text="
    >
      <span style="display: flex; align-items: center; justify-content: center;">
        <img style="width: 26px; background-color: transparent; margin-right: 8px;"
          src="assets/img/img-redes-sociales/whatsapp-logo-4-1.png"
          alt="logo-whatsapp"
        />
        Contactanos!
      </span>
    </a>
  </div>
