<app-background></app-background>

<div  class="cuerpo">
  <mat-card class="logo-inic">
    <div class="logo-img">
      <img
        mat-card-image
        src="/assets/img/lo-de-vicente-logo.png"
        alt="Lo de Vicente - logo"
      />
    </div>

    <h1 style="font-size: 32px;">¿Buscás cabaña en Tandil?</h1>
    <p style="margin-top: 16px; padding: 16px; text-align: center;">
      ¡Bienvenido a nuestro cabaña para <b>7 personas</b>, a solo 10 minutos del centro comercial! 
      En la planta superior, hay una habitación para 3 personas con TV y aire. El comedor 
      cuenta con 2 camas nido individuales, TV y ventilador. La cocina está totalmente 
      equipada con desayunador y vajilla. Dispone de <b>2 baños y antebaño</b>. En el jardín exterior, 
      disfrutá de <b>parrilla, fogón, pileta y espacio verde</b>. Wifi y plataformas de TV para tu 
      entretenimiento. Para consultas y reservas, <b>contáctanos al 2494632892</b>. ¡Esperamos que 
      tengas una hermosa estadía!
    </p>
    <app-botones-contacto></app-botones-contacto>
  </mat-card>


  <div 
    style="padding: 8px;"
    *ngFor="let imagen of imagenes">
    
    <div style="
      max-width: 800px; 
      background-color: rgb(228, 228, 228);
      margin-top: 32px;
      border-radius: 32px;  
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3), 0 8px 16px rgba(255, 255, 255, 0.3);
    ">
      <img style="width: 100%;" src="{{ imagen.img }}" alt="{{ imagen.alt }}" />
      <p style="margin: 16px; text-align: center;">
        {{ imagen.desc }}
      </p>
      <app-botones-contacto></app-botones-contacto>
    </div>
    </div>

  <app-footer></app-footer>
</div>
