<app-background> </app-background>
<div class="cuerpo">
  <mat-card class="logo-inic">
    <div class="logo-img">
      <img
        mat-card-image
        src="/assets/img/lo-de-vicente-logo.png"
        alt="Lo de Vicente - logo"
      />
    </div>

    <h1 style="font-size: 32px;">¿Buscás cabaña en Tandil?</h1>
    <p style="margin-top: 16px;">
      ¡Bienvenido a nuestro cabaña para <b>7 personas</b>, a solo 10 minutos del centro comercial! 
      En la planta superior, hay una habitación para 3 personas con TV y aire. El comedor 
      cuenta con 2 camas nido individuales, TV y ventilador. La cocina está totalmente 
      equipada con desayunador y vajilla. Dispone de <b>2 baños y antebaño</b>. En el jardín exterior, 
      disfrutá de <b>parrilla, fogón, pileta y espacio verde</b>. Wifi y plataformas de TV para tu 
      entretenimiento. Para consultas y reservas, <b>contáctanos al 2494632892</b>. ¡Esperamos que 
      tengas una hermosa estadía!
    </p>

    <div class="botones">
      <div class="boton">
        <a href="tel:+542494632892" color="primary" mat-raised-button>
          <mat-icon aria-hidden="false" aria-label="phone_in_talk"
            >phone_in_talk</mat-icon
          >
          Llamanos!
        </a>
      </div>
      
      <a  style="display: flex; align-items: center; justify-content: center; background-color: #a5e0ae; padding: 4px; border-radius: 4px; font-weight: bold; color: #303030;" 
        href="https://wa.me/542494632892?text=">
        <img style="width: 26px; background-color: transparent; margin-right: 4px;"
          src="assets/img/img-redes-sociales/whatsapp-logo-4-1.png"
          alt="logo-whatsapp"
        />
        Contactanos!
      </a>
    </div>
  </mat-card>


  <div 
    style="padding: 8px;"
    *ngFor="let imagen of imagenes">
    
    <div style="
      max-width: 800px; 
      background-color: rgb(228, 228, 228);
      margin-top: 32px;
      border-radius: 32px;  
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3), 0 8px 16px rgba(255, 255, 255, 0.3);
    ">
      
      <img style="width: 100%;" src="{{ imagen.img }}" alt="{{ imagen.alt }}" />
      <p>
        {{ imagen.desc }}
      </p>
      <div class="botones">
        <div class="boton">
          <a href="tel:+542494632892" color="primary" mat-raised-button>
            <mat-icon aria-hidden="false" aria-label="phone_in_talk"
              >phone_in_talk</mat-icon
            >
            Llamanos!
          </a>
        </div>
        
        <a  style="display: flex; align-items: center; justify-content: center; background-color: #a5e0ae; padding: 4px; border-radius: 4px; font-weight: bold; color: #303030;" 
          href="https://wa.me/542494632892?text=">
          <img style="width: 26px; background-color: transparent; margin-right: 4px;"
            src="assets/img/img-redes-sociales/whatsapp-logo-4-1.png"
            alt="logo-whatsapp"
          />
          Contactanos!
        </a>
      </div>
    </div>
    </div>

  <app-footer></app-footer>
</div>
